/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* <----Navigation Bar----> */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 78%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: logo and image */
#logo{
    margin: 36px 45px;
}

#logo img{
    height: 120px;
    margin: 4px 45px;
}

/* Navigation Bar: list styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: yellow;
    background-color: white;
}

/* <----Home Section----> */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: flex-end;
    align-items: flex-start;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../kulfi images/kulfi-large.jpg') no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-size: 8rem;
    font-family: 'Bad Script', cursive;
}

#home h1 u{
    color: white;
    text-align: center;
    font-family: 'Bad Script', cursive;
}

#home u{
    color: white;
}

#home p{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}

#home a button:hover{
    color: yellow;
}

/* <----Thoughts----> */
#thought{
    content: "";
    margin-top: 152px;
    background-color: rgb(247, 242, 242);
    height: 238px;
    left: 0px;
    width: 100%;
}

#thought h2{
    color: black;
    text-align: center;
    font-size: 33px;
    font-family: 'Bad Script', cursive;
}

#thought h2 u{
    color: black;
    text-align: center;
    font-size: 33px;
    font-family: 'Bad Script', cursive;
}

#thought img{
    height: 65px;
    margin-left: 640px;
    font-weight: 500;
}

/* <----Services Section----> */
#services{
    margin: 34px;
    display: flex;
}

#services.boxer{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: gray;
    margin-bottom: 20px;
}

#services.boxer img{
    display: block;
}

#services #img1{
    margin-left: -4px;
    margin-top: 50px;
}

#services #img2{
    margin-left: 20px;
    margin-right: 78px;
}

#services #img3{
    margin-top: 50px;
}

#services #mini-img{
    margin-bottom: -30px;
    margin-left: 186px;
}

#services .boxer h2{
    font-family: 'Bad Script', cursive;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

#services .boxer h2 u{
    font-family: 'Bad Script', cursive;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

/* <----Thoughts 2----> */
#thought2{
    content: "";
    margin-top: 15px;
    margin-bottom: 200px;
    background-color: rgb(247, 242, 242);
    height: 350px;
    left: 0px;
    width: 100%;
}

#thought2 img{
    height: 300px;
    width: 1452px;
    margin-left: 26px;
    margin-top: 26px;
}

/* <----Footer----> */
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

footer{
    line-height: 1.5;
    background: black;
    color: white;
    padding: 4rem 0 4rem 0;
    height: 450px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.center{
    text-align: center;
    font-size: 2.0rem;
}